{% extends "base.html" %}
{% block title %}Voting on poll : {{ poll.name }}{% endblock %}

{%- block body -%}

<h2>Voting on poll: {{ poll.name }}</h2>

<form action="/vote/{{ poll.id }}/response" method="post">
    <fieldset>
        <legend>{{ poll.name }}</legend>

        {%- for (name, num) in options -%}
        <div class="poll_option">
            <input type="number" id="{{ loop.index0 }}" name="{{ loop.index0 }}" min="{{ points_min }}" max="{{ points_max }}" value="{{points_max}}" required/>
            <label for="{{ loop.index0 }}">{{ name }}</label>
        </div>
        {%- endfor -%}

        <button type="submit">Submit</button>
    </fieldset>
</form>

{%- endblock %}
