{% extends "base.html" %} {% block title %}Creating a poll{% endblock title %} {% block body %}

<script>
    var options_list = new Array();
    var can_unranked = false;
    function changeName() {
        let name = document.getElementById("poll_name").value;
        if (!(name.trim() === "")) {
            document.getElementById("poll_name_preview").innerHTML = name;
        }
    }

    {% match poll_type %}
    {% when PollType::Ranked with (_) %}
    var max = 0;
    var x_max = 0;
    {% include "unique_scores.js" %}
    {% else %}
    {% endmatch %}

    function addOption() {
        let option_name = document.getElementById("option_name").value;

        if (!(option_name.trim() === "")) {
            options_list.push(option_name);
            redrawPreview();
            return;
        } else {
            let error = document.getElementById("error");
            error.innerHTML = "Option name cannot be empty";
        }
    }

    function redrawPreview() {
        let options = document.getElementById("poll_options");
        options.innerHTML = "";

        {%- match poll_type %}
        {%- when PollType::Multiple %}
            let input_type = "checkbox";
            {%- include "vote_list_gen.js" %}
        {%- when PollType::Single %}
            let input_type = "radio";
            {%- include "vote_list_gen.js" %}
        {%- when PollType::Ranked with (system) %}
            {%- include "vote_table_gen.js" %}

            // extend the limit of voting grid script and update it's references 
            max += 1;
            x_max += 1;
            if (can_unranked) {
                x_max = max + 1;
            } else {
                x_max = max;
            }
            update_radios();
        {%- endmatch -%}
    }

    function onSubmit(event) {
            if (options_list.length < 2) {
                    let error = document.getElementById("error");
                    error.innerHTML = "Poll needs to have at least 2 options";
                    event.preventDefault();
                    return false;
                }
            let name = document.getElementById("poll_name_preview").innerHTML;

            let request = `/create/poll?type={{ poll_type }}&name=${name}&options=${options_list.join(',')}`;

            const form = document.createElement('form');
            form.method = 'post';
            form.action = '/create';

            const params = {type: '{{ poll_type }}', name: `${name}`, data: `${options_list.join(',')}`};

            for (const key in params) {
                    const field = document.createElement('input');
                    field.type = 'hidden';
                    field.name = key;
                    field.value = params[key];
                    form.appendChild(field);
            }

            document.body.appendChild(form);
            form.submit();
            event.preventDefault();
        }
</script>

<label for="poll_name">Poll name: </label><br>
<input type="text" name="poll_name" id="poll_name" maxlength="100">
<button onclick="changeName();">Change</button>
<br />

<label for="option_name">Option name: </label><br>
<input type="text" name="option_name" id="option_name" maxlength="100">
<button onclick="addOption();">Add</button>
<br />

<p id="error"></p>

<h3>Poll preview</h3>
<form id="form">
    <fieldset id="poll_fieldset">
        <legend id="poll_name_preview">Unnamed poll</legend>

        <div id="poll_options">
            <i>Your options will be shown here</i>
        </div>
        <button type="button">Submit</button>
    </fieldset>
    <button type="submit">Create poll</button>
    <script>
        const form = document.getElementById('form');
        form.addEventListener('submit', onSubmit);
    </script>
</form>

{% endblock body %}
