{% extends "base.html" %} {% block title %}Poll list{% endblock %} {% block body %}

<style>
    body {
        max-width: initial;
    }
</style>

<h2>Poll list</h2>

<table class="polltable">
    <tr>
        <th>ID</th><th>Name</th><th>Type</th><th>Date created</th><th>Admin
            token</th><th>Voters</th>
    </tr>
{% for poll in polls %}
    <tr>
        <td>{{ poll.id }}</td>
        <td><a href="/results/{{poll.id}}">{{ poll.name }}</a></td>
        <td><a href="/create?poll_type={{poll.poll_type}}">{{ poll.poll_type }}</a></td>
        <td>{{ poll.date_created }}</td>
        <td><a href="/admin/{{poll.id}}">{{ poll.admin_token }}</a></td>
        <td><a href="/vote/{{poll.id}}">{{ poll.voters }}</a></td>
    </tr>
{% endfor %}
</table>

<p>
    <a href="/">Go home</a>
</p>
{% endblock %}
