{% extends "base.html" %} {% block title %}Voting on poll : {{ poll_name }}{% endblock %} {%- block body -%}

<h2>Voting on poll: {{ poll_name }}</h2>

<form action="/vote/{{ poll_id }}/response">
    <fieldset>
    <legend>{{ poll_name }}</legend>

        {%- let max = options.len() -%}

        {%- match poll_type -%}
        {%- when PollType::Multiple -%}
        {%- for (name, num, ) in options -%}
        <div class="poll_option">
            <input type="checkbox" id="option_box" value="{{ loop.index0 }}" name="response" />
            <label for="opt{{- loop.index0 }}">{{ name }}</label>
        </div>
        {%- endfor -%}
        {%- when PollType::Single -%}
        {%- for (name, num, ) in options -%}
        <div class="poll_option">
            <input type="radio" id="option_box" value="{{ loop.index0 }}" name="response" {% if loop.first %} checked {%
                endif %} />
            <label for="opt{{- loop.index0 }}">{{ name }}</label>
        </div>
        {%- endfor -%}
        {%- when PollType::Ranked with (system) -%}
            {%- let can_unranked = poll_type.can_unranked() -%}
            {%- let input_type = "radio" -%}
            {%- include "vote_table.html" %}
        {%- endmatch -%}

        <button type="submit">Submit</button>
    </fieldset>
</form>

{%- if poll_type.unique_scores() %}
{%- match poll_type %}
{%- when PollType::Ranked with (system) %}
    <script>
        let can_unranked = {{ poll_type.can_unranked() }};
        let max = {{ max }};
        let x_max = max;
        if (can_unranked) { x_max += 1; }
        {%- include "unique_scores.js" %}
    </script>
{%- else %}
{%- endmatch %}
{%- endif -%}

{%- endblock %}